*,
::after,
::before {
  box-sizing: border-box;
}

section {
  display: block;
}

.cta-w {
  background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)),
    url(../images/cta-bg.jpg) fixed center center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 120px 0;
  color: white;
}

.cta-w #left-half-w {
  width: 855px;
}

.cta-w #left-half-w h3 {
  font-family: Jost, sans-serif;
  font-size: 28px;
  font-weight: bolder;
  margin-bottom: 8px;
  vertical-align: baseline;
}

.cta-w #left-half-w p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1.5;
  vertical-align: baseline;
}

.cta-w #right-half-w {
  font-family: Jost, sans-serif;
  width: 285px;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
}

.cta-w #right-half-w #cta-link-w {
  color: white;
  border: 2px solid #fff;
  border-radius: 50px;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  margin: 10px;
  padding: 12px 40px;
  transition: 0.5s;
  line-height: 1.5;
}

.cta-w #right-half-w #cta-link-w:hover {
  background-color: #47b2e4;
  border: none;
}

#portfolio-w {
  width: 100%;
  height: auto;
  padding: 60px 0;
  position: relative;
  top: 10px;
  background-color: #fff;
  overflow: hidden;
}

#portfolio-w > h2 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  position: relative;
  color: #37517e;
  padding: 0 0 20px;
  margin: 0 0 20px;
  font-family: "Jost", sans-serif;
}

#portfolio-w > h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

#portfolio-w > h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

#portfolio-w p {
  line-height: 1.5;
  padding: 0 0 30px;
  font-family: "Open-Sans", sans-serif;
  color: #444;
  text-align: center;
}

#portfolio-w ul {
  margin-left: 35%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  line-height: 1.5;
  margin: 0 0 20px;
  padding: 0 0 0 32px;
  font-size: 16px;
}

#portfolio-w ul div {
  color: #444;
  text-align: center;
  font-weight: bold;

  font-size: 15px;

  display: inline-block;
  line-height: 1;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

#portfolio-w ul div label span {
  padding: 8px 20px;
  margin: 10px 5px;
  display: inline-block;
  cursor: pointer;
}

#portfolio-w ul div label span:hover {
  color: white;
  background-color: #47b2e4;
  border: none;
  border-radius: 50px;
}

#portfolio-w ul div input:checked + label span {
  color: white;
  background-color: #47b2e4;
  border: none;
  border-radius: 50px;
}

.item-w {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
  height: auto;
  width: 100%;
  margin: 0 -12px;
}

.item-w .card-w {
  display: inline-block;
  overflow: hidden;
  margin: 0 0 30px;
  position: relative;
  background-color: #fff;
  box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
  transition: 0.5s;
  width: 420px;
  height: 275px;
  border: none;
}

.item-w .card-w img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.item-w .card-w:hover img {
  transform: scale(1.5);
}

.item-w .card-w .info-w {
  width: 420px;
  height: 60px;
  opacity: 0;
  position: absolute;
  left: 1px;
  bottom: 0;
  z-index: 3;
  right: 15px;
  transition: all 0.3s;
  background: rgba(55, 81, 126, 0.8);
  padding: 10px 15px;
  color: white;
}

.item-w .card-w:hover .info-w {
  opacity: 0.95;
}

.item-w .card-w .info-w h4 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
  font-family: Jost, sans-serif;
  line-height: 1.2;
}

.item-w .card-w .info-w p {
  font-size: 14px;
  margin-bottom: 0;
  padding: 0 0 30px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin-top: 0;
  display: block;
  text-align-last: left;
}

.item-w .card-w .info-w .plus-btn-w {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 39px;
  bottom: 18px;
}

.item-w .card-w .info-w .link-btn-w {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 15px;
  bottom: 18px;
}

.bx {
  font-family: "boxicons";
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  display: inline-block;
  text-transform: none;
  color: #fff;
  vertical-align: middle;
}

.bx-plus:before {
  content: "\eb21";
}

.bx-link-alt:before {
  content: "\ea9e";
}
