/* Why us? Section */

#why-us {
  width: 100%;
  height: 75vh;
  padding: 60px 0;
  background-color: #f3f5fa;
}

#why-us .container {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

#why-us .item1-b {
  width: 880px;
  padding: 10px 100px;
}

#why-us .item1-b-header {
  margin-bottom: 6px;
  font-family: "Jost", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color: #37517e;
  line-height: 1.2;
}

#why-us .item1-b-header strong {
  font-weight: 700;
}

#why-us .item1-b p {
  width: 650px;
  font-family: "Open sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: rgb(128, 128, 128);
  line-height: 1.6;
}

#why-us .drop-box-b {
  margin-top: 15px;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.9);
}

#why-us .drop-box-b h3 {
  position: relative;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
  color: #343A40;
  cursor: pointer;
}

#why-us .drop-box-header-b span {
  padding-right: 7px;
  font-weight: 500;
  font-size: 15px;
  color: #47b2e4;
}

#why-us .drop-box-header-b i {
  font-size: 18px;
  position: absolute;
  right: 10px;
  line-height: 1.5;
}

#why-us .drop-box-header-b:hover {
  color: #47b2e4;
}

#why-us .drop-box-header-b:hover i {
  color: #47b2e4;
}

#why-us .drop-box-content-b {
  opacity: 0;
  display: none;
}

#why-us .item2-b {
  display: flex;
  align-items: center;
  position: relative;
  top: -15px;
  right: -20px;
  width: 600px;
}

.item2-b img {
  width: 100%;
}

/* Skills Section */

#skills {
  width: 100%;
  padding: 60px 100px;
}

#skills .container {
  display: flex;
}

#skills .item1-b {
  width: 800px;
  margin-right: 20px;
}

#skills .item1-b img {
  width: 100%;
  height: 100%;
}

#skills .item1-header-b {
  margin-bottom: 6px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #37517e;
  line-height: 1.2;
}

#skills .item2-b {
  width: 800px;
  height: 360px;
}

#skills p {
  font-style: italic !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

#skills .progress-header {
  display: flex;
  justify-content: space-between;
}

#skills .progress-bar h3 {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #4668a2;
  padding-top: 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

#skills .progress-bar .bar {
  width: 100%;
  height: 10px;
  background-color: #e8edf5;
  position: relative;
}

#progress-bar-gauge1 {
  display: block;
  width: 0;
  height: 10px;
  background-color: #4668a2;
  animation-name: gauge1;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
}

@keyframes gauge1 {
  0% {
    width: 0;
    opacity: 1;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}

#progress-bar-gauge2 {
  display: block;
  width: 0;
  height: 10px;
  background-color: #4668a2;
  animation-name: gauge2;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;

}

@keyframes gauge2 {
  0% {
    width: 0;
    opacity: 1;
  }

  100% {
    width: 90%;
    opacity: 1;
  }
}

#progress-bar-gauge3 {
  display: block;
  width: 0;
  height: 10px;
  background-color: #4668a2;
  animation-name: gauge3;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;

}

@keyframes gauge3 {
  0% {
    width: 0;
    opacity: 1;
  }

  100% {
    width: 75%;
    opacity: 1;
  }
}

#progress-bar-gauge4 {
  display: block;
  width: 0;
  height: 10px;
  background-color: #4668a2;
  animation-name: gauge4;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;

}

@keyframes gauge4 {
  0% {
    width: 0;
    opacity: 1;
  }

  100% {
    width: 50%;
    opacity: 1;
  }
}