#team-s {
  width: 100%;
  padding-bottom: 40px;
  padding-top: 40px;
  position: relative;
  top: 10px;
  background-color: rgb(243, 245, 250);
}

#pricing-s {
  width: 100%;
  padding-bottom: 40px;
  padding-top: 40px;
  position: relative;
  top: 10px;
  background-color: #ffffff;
}
#team-s > h2,
#pricing-s > h2 {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  position: relative;
  color: #37517e;
  padding: 20px;
  font-family: "Jost", sans-serif; /*폰트 지정*/
}

#team-s > h2::before,
#pricing-s > h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

#team-s > h2::after,
#pricing-s > h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: 0;
  left: calc(50% - 20px);
}

#container-team > p,
#container-pricing > p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
  line-height: 150%;
}

.member-s {
  display: flex;
  justify-content: center;
  padding: 10px 200px;
}

.member-s .card-s {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 30px;
  width: 640px;
  height: 230px;
  background-color: white;
  box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
  border-radius: 5px;
  transition: 0.5s;
  margin-right: 15px;
}

.member-s .card-s:hover {
  top: -10px;
  /* transition: top 2s; */
}

.member-s .card-s .img-s {
  max-width: 100%;
  width: 180px;
  border-radius: 50%;
}
.member-s .card-s .intro-s {
  padding: 0 0 0 30px;
}

.member-s .card-s h1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #37517e;
  font-family: "Jost", sans-serif;
}
.card-s span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}
.member-s .card-s span::before,
.member-s .card-s span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #cbd6e9;
  bottom: -3px;
  left: 0;
}

.member-s .card-s p {
  margin: 15px 0 0 0;
  font-size: 15px;
}
.member-s .card-s img {
  width: 100%;
  clip-path: circle(50% at 50% 50%);
}
.card-s .intro-s .social-s {
  margin-top: 17px;
}
.card-s .intro-s .social-s a {
  /* transition: ease-in-out 0.3s; */
  align-items: center;
  display: inline-block;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #cbd6e9;
  text-decoration: none;
}
.card-s .intro-s .social-s i {
  color: #37517e;
  font-size: 16px;
  margin: 8px 8px 8px 8px;
  position: relative;
}

.card-s .intro-s .social-s a:hover {
  background: #47b2e4;
}
.card-s .intro-s .social-s a:hover i {
  color: white;
}

#pricing-s .cardP-s {
  display: inline-block;
  width: 420px;
  height: 565px;
  padding: 60px 40px;
  border-top: 4px solid #fff;
  box-shadow: 0 3px 20px -2px rgb(20 45 100 / 10%);
  justify-content: space-between;
  border-radius: 5px;
}
.cardP-s h3 {
  font-weight: 600;
  margin-bottom: 20px;
  font-size: 20px;
  color: #37517e;
  font-family: "Jost", sans-serif;
}
.cardP-s h4 {
  font-size: 48px;
  color: #37517e;
  font-weight: 400;
  font-family: "Jost", sans-serif;
  margin-bottom: 25px;
}
.cardP-s h4 sup {
  font-size: 28px;
  position: relative;
  top: -0.5em;
}
.cardP-s h4 span {
  color: #47b2e4;
  font-size: 18px;
  font-weight: 500;
  display: block;
  margin-top: 5px;
}
#pricing-s .second-c {
  margin-left: 20px;
  margin-right: 20px;
  border-top: 5px solid#47b2e4;
}

#pricing-s #container-pricing .row-s {
  display: flex;
  justify-content: center;
  padding: 30px 200px;
}

#started-s {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 35px;
  border-radius: 50px;
  color: #47b2e4;
  transition: none;
  font-size: 16px;
  font-weight: 500;
  font-family: "Jost", sans-serif;
  transition: 0.3s;
  border: 1px solid #47b2e4;
  background-color: white;
}

#started-s:hover {
  color: white;
  background-color: #47b2e4;
}
.cardP-s ul {
  padding: 20px 0;
  list-style: none;
  color: #999;
  line-height: 20px;
}
.cardP-s li {
  padding: 10px 0 10px 0px;
  position: relative;
  font-family: "Open Sans", sans-serif;
}
.cardP-s li span {
  margin-left: 10px;
}
.cardP-s i {
  color: #28a745;
}

.cardP-s .no {
  color: #ccc;
}
.cardP-s .no i {
  color: #ccc;
}
.cardP-s .no span {
  text-decoration: line-through;
  margin-left: 13px;
  font-weight: 550;
}
