*, ::after, ::before{
    box-sizing: border-box;
}

section {
    display: block;
}


.cta-w{
    
    background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)), 
    url(../images/cta-bg.jpg) fixed center center;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    padding: 120px 0;
    color: white;
}

.cta-w #left-half-w{
    
    width:70%;

}

.cta-w #left-half-w h3{
    font-family: Jost, sans-serif;
    font-size: 28px;
    font-weight: bolder;
    margin-bottom: 8px;
    vertical-align: baseline;

}

.cta-w #left-half-w p{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-bottom: 16px;
    line-height: 1.5;
    vertical-align: baseline;
}



.cta-w #right-half-w{
    font-family: Jost, sans-serif;
    width:20%;
    font-size:16px;
    text-align: center;
    vertical-align: middle;

}


.cta-w #right-half-w #cta-link-w{
    color: white;
    border: 2px solid #fff;
    border-radius: 50px;
    text-decoration: none;
    vertical-align: middle;
    text-align: center;
    font-weight: 500;
    font-size:16px;
    letter-spacing: 1px;
    display:inline-block;
    margin:10px;
    padding: 12px 40px;
    transition: 0.5s;
    line-height:1.5;
}

.cta-w #right-half-w #cta-link-w:hover{
    background-color:#47b2e4;
    border:none;

}


#portfolio-w {
    width: 100%;
    padding: 60px 0;
    position: relative;
    top: 10px;
    background-color: #fff;
}

#portfolio-w > h2 {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    position: relative;
    color: #37517e;
    padding: 0 0 20px;
    margin: 0 0 20px;
    font-family: "Jost", sans-serif; 
}

#portfolio-w > h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}

#portfolio-w > h2::after {
    content: "";
    position: absolute;
    display: block; 
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
}

#portfolio-w p{
    line-height:1.5;
    padding: 0 0 30px;
    font-family: "Open-Sans", sans-serif;
    color: #444;
    text-align: center;
}

#portfolio-w ul{
    margin-left:35%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    line-height: 1.5;
    margin: 0 0 20px;
    padding: 0 0 0 32px;
    font-size: 16px;
}

#portfolio-w ul div{
    color: #444;
    text-align: center;
    font-weight: bold;

    font-size:15px;
    
    display: inline-block;
    line-height:1;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    
}

#portfolio-w ul div label span{
    padding: 8px 20px;
    margin: 10px 5px;
    display: inline-block;
    cursor: pointer;
}

#portfolio-w ul div label span:hover{
    color:white;
    background-color:#47b2e4;
    border: none;
    border-radius: 50px;
    
}

#portfolio-w ul div input:checked + label span{
    color:white;
    background-color:#47b2e4;
    border: none;
    border-radius: 50px;
    
}

.item-w {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 250px;
    width: 100%;
    margin: 0 -12px;
}

.card-w {
    display: block;
    overflow: hidden;
    margin: 0 0 30px;
    
    background-color: #fff;
    box-shadow: 0px 2px 15px rgb(0 0 0 / 10%);
    border-radius: 5px;
    transition: 0.5s;
    width: 350px;
    height: 220px;
    border:none;
}

.card-w img {
    max-width:100%;
    height:auto;
    object-fit: cover;
}


.item-w .card-w:nth-child(1){
    position:absolute;
    left:0;
    top:0;
}
.item-w .card-w:nth-child(2){
    position:absolute;
    left:360px;
    top:0;
}
.item-w .card-w:nth-child(3){
    position:absolute;
    left:720px;
    top:0;
}